FILE_HASH_TO_TOOLS='{"bafybeifu2ytuac4nhaf5hsgr6g5ksjtfckwb47nzeqrcih6q3gk5lomdp4": ["openai-text-davinci-002", "openai-text-davinci-003", "openai-gpt-3.5-turbo", "openai-gpt-4"]}'
API_KEYS='{"openai": "dummy_api_key"}'
ETHEREUM_LEDGER_RPC_0=https://rpc.eu-central-2.gateway.fm/v4/gnosis/non-archival/mainnet
ETHEREUM_WEBSOCKET_RPC_0=wss://rpc.eu-central-2.gateway.fm/ws/v4/gnosis/non-archival/mainnet
ETHEREUM_LEDGER_CHAIN_ID=100
ALL_PARTICIPANTS='["0x10E867Ac2Fb0Aa156ca81eF440a5cdf373bE1AaC"]'
RESET_PAUSE_DURATION=100
SAFE_CONTRACT_ADDRESS="0x5e1D1eb61E1164D5a50b28C575dA73A29595dFf7"
AGENT_MECH_CONTRACT_ADDRESS="0xFf82123dFB52ab75C417195c5fDB87630145ae81"
AGENT_PRIVATE_KEY=""