*/keys.json
*private_key.txt
packages/fetchai/
packages/open_aea/
packages/valory/connections/abci/
packages/valory/connections/http_client/
packages/valory/connections/ipfs/
packages/valory/connections/ledger/
packages/valory/connections/p2p_libp2p_client/
packages/valory/protocols/
packages/valory/skills/abstract_abci/
packages/valory/skills/abstract_round_abci/
packages/valory/skills/registration_abci/
packages/valory/skills/reset_pause_abci/
packages/valory/skills/transaction_settlement_abci/
packages/valory/skills/termination_abci/
.idea
**/__pycache__/
*.DS_Store

packages/valory/contracts/gnosis_safe_proxy_factory/

packages/valory/contracts/multisend/

packages/valory/contracts/service_registry/

packages/valory/contracts/gnosis_safe/

.env

keys.json

leak_report

agent/

.1env

mech/

.mypy_cache
/.tox/
