*/keys.json
*private_key.txt
packages/open_aea/
packages/valory/connections/
packages/valory/protocols/abci/
packages/valory/protocols/acn/
packages/valory/protocols/contract_api/
packages/valory/protocols/http/
packages/valory/protocols/ipfs/
packages/valory/protocols/ledger_api/
packages/valory/protocols/tendermint/
packages/valory/skills/abstract_abci/
packages/valory/skills/abstract_round_abci/
packages/valory/skills/registration_abci/
packages/valory/skills/reset_pause_abci/
packages/valory/skills/transaction_settlement_abci/
packages/valory/skills/termination_abci/
.idea
**/__pycache__/
*.DS_Store

packages/valory/contracts/gnosis_safe_proxy_factory/

packages/valory/contracts/multisend/

packages/valory/contracts/service_registry/

packages/valory/contracts/gnosis_safe/

.env

keys.json

leak_report

agent/

.1env
