packages/fetchai/
packages/open_aea/
packages/valory/connections/
packages/valory/contracts/
packages/valory/protocols/
packages/valory/skills/abstract_abci/
packages/valory/skills/abstract_round_abci/
packages/valory/skills/registration_abci/
packages/valory/skills/reset_pause_abci/
packages/valory/skills/transaction_settlement_abci/
packages/valory/skills/termination_abci/
.idea
**/__pycache__/
*.DS_Store