[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mech"
version = "0.1.0"
description = ""
authors = [ "8baller <8ball030@gmail.com>", "David Vilela <dvilelaf@gmail.com>", "David Minarsch <david.minarsch@googlemail.com>", "Justice Mace <justice.mace@valory.xyz>", "Ardian Abazi <ardian.abazi@valory.xyz>", "Jose Moreira Sanchez <jose.moreira.sanchez@valory.xyz>", "Adamantios Zaras <adamantios.zaras@valory.xyz>",]
readme = "README.md"
repository = "https://github.com/valory-xyz/mech"
keywords = [ "mech", "autonomy", "autonomous", "autonolas", "service", "multi", "agent",]
classifiers = [ "Environment :: Console", "Environment :: Web Environment", "Development Status :: 2 - Pre-Alpha", "Intended Audience :: Developers", "License :: OSI Approved :: Apache Software License", "Natural Language :: English", "Operating System :: MacOS", "Operating System :: Microsoft", "Operating System :: Unix", "Programming Language :: Python :: 3.10", "Topic :: Communications", "Topic :: Internet", "Topic :: Scientific/Engineering", "Topic :: Software Development", "Topic :: System",]
[[tool.poetry.packages]]
include = "packages"

[tool.poetry.dependencies]
python = "^3.10"
open-autonomy = "==0.14.10"
openai = "==1.11.0"
requests = "==2.28.1"
mech-client = "==0.2.5"
py-multibase = "==1.0.3"
py-multicodec = "==0.2.1"
grpcio = "==1.53.0"
asn1crypto = "<1.5.0,>=1.4.0"
open-aea-ledger-ethereum = "==1.50.0"
open-aea-ledger-cosmos = "==1.50.0"
protobuf = "<4.25.0,>=4.21.6"
hypothesis = "==6.21.6"
open-aea-test-autonomy = "==0.14.10"
web3 = "<7,>=6.0.0"
ipfshttpclient = "==0.8.0a2"
open-aea-cli-ipfs = "==1.50.0"
pytest-asyncio = "*"
aiohttp = "<4.0.0,>=3.8.5"
certifi = "*"
multidict = "*"
ecdsa = ">=0.15"
eth_typing = "*"
hexbytes = "*"
packaging = "*"
py-ecc = "==6.0.0"
pytz = "==2022.2.1"
typing_extensions = ">=3.10.0.2"
websocket_client = "<1,>=0.32.0"
toml = "==0.10.2"
googlesearch-python = "==1.2.3"
beautifulsoup4 = "==4.12.2"
google-api-python-client = "==2.95.0"
eth-utils = "==2.2.0"
eth-abi = "==4.0.0"
pycryptodome = "==3.18.0"
anthropic = "0.21.3"
langchain = "==0.0.303"
scikit-learn = "==1.3.1"
pytest = "==7.2.1"
jsonschema = "<4.4.0,>=4.3.0"
spacy = "==3.7.2"
pandas = "==2.1.1"
tiktoken = "==0.5.1"
python-dateutil = "==2.8.2"
markdownify = "==0.11.6"
tavily-python = "==0.3.0"
chromadb = "==0.4.13"
readability-lxml = "0.8.1"
docstring-parser = "0.15"
faiss-cpu = "1.7.4"
pypdf2 = "^3.0.1"
moviepy = "1.0.3"
replicate = "0.15.7"
lxml = {extras = ["html-clean"], version = "^5.1.0"}

[tool.poetry.group.dev.dependencies]
tomte = {version = "==0.2.15", extras = ["cli", "tests"]}
