[build-system]
requires = [ "poetry-core>=1.0.0",]
build-backend = "poetry.core.masonry.api"

[tool.poetry]
name = "mech"
version = "0.1.0"
description = ""
authors = [ "8baller <8ball030@gmail.com>", "David Vilela <dvilelaf@gmail.com>", "David Minarsch <david.minarsch@googlemail.com>", "Justice Mace <justice.mace@valory.xyz>", "Ardian Abazi <ardian.abazi@valory.xyz>", "Jose Moreira Sanchez <jose.moreira.sanchez@valory.xyz>", "Adamantios Zaras <adamantios.zaras@valory.xyz>",]
readme = "README.md"
repository = "https://github.com/valory-xyz/mech"
keywords = [ "mech", "autonomy", "autonomous", "autonolas", "service", "multi", "agent",]
classifiers = [ "Environment :: Console", "Environment :: Web Environment", "Development Status :: 2 - Pre-Alpha", "Intended Audience :: Developers", "License :: OSI Approved :: Apache Software License", "Natural Language :: English", "Operating System :: MacOS", "Operating System :: Microsoft", "Operating System :: Unix", "Programming Language :: Python :: 3.10", "Topic :: Communications", "Topic :: Internet", "Topic :: Scientific/Engineering", "Topic :: Software Development", "Topic :: System",]
[[tool.poetry.packages]]
include = "packages"

[tool.poetry.dependencies]
python = "^3.10"
open-autonomy = "==0.13.2"
openai = "==0.27.2"
requests = "==2.28.2"
mech-client = "==0.2.5"
py-multibase = "==1.0.3"
py-multicodec = "==0.2.1"
grpcio = "==1.53.0"
asn1crypto = "<1.5.0,>=1.4.0"
open-aea-ledger-ethereum = "==1.41.0.post1"
open-aea-ledger-cosmos = "*"
protobuf = "<5.0.0,>=4.21.6"
hypothesis = "==6.21.6"
open-aea-test-autonomy = "==0.13.2"
web3 = ">=6.0.0,<7"
ipfshttpclient = "==0.8.0a2"
open-aea-cli-ipfs = "==1.41.0.post1"
pytest-asyncio = "*"
aiohttp = "<3.9,>=3.7.4"
certifi = "*"
multidict = "*"
ecdsa = ">=0.15"
eth_typing = "*"
hexbytes = "*"
packaging = "*"
py-ecc = "==6.0.0"
pytz = "==2022.2.1"
typing_extensions = ">=3.10.0.2"
websocket_client = "<1,>=0.32.0"
toml = "^0.10.2"
googlesearch-python = "==1.2.3"
beautifulsoup4 = "==4.12.2"
google-api-python-client = "==2.95.0"
eth-utils = "==2.2.0"
eth-abi = "==4.0.0"
pycryptodome = "==3.18.0"
anthropic = "==0.3.11"
langchain = "==0.0.303"
scikit-learn = "==1.3.1"
pytest = "==7.2.1"
jsonschema = ">=4.16.0,<=4.19.0"
spacy = "==3.7.2"

[tool.poetry.group.dev.dependencies.tomte]
version = "==0.2.12"
extras = [ "cli", "tests",]
