agent_name: mech
author: valory
version: 0.1.0
license: Apache-2.0
description: A mech agent
aea_version: '>=1.37.0, <2.0.0'
fingerprint: {}
fingerprint_ignore_patterns: []
connections:
- valory/abci:0.1.0:bafybeifu42n4vz3bid3nkbr7sea6d3pfmxx7rzctr37ovafmbpyq6vplkm
- valory/http_client:0.23.0:bafybeid5ffvg76ejjoese7brj5ji3lx66cu7p2ixfwflpo6rgofkypfd7y
- valory/http_server:0.22.0:bafybeic3jpkum7g6qo6x6vdrmvvhj7vqw7ec2op72uc3yfhmnlp5hn3joy
- valory/ipfs:0.1.0:bafybeigjspoceazd5roxo4pcqcgyu3ozixkdoc44domwcaumt2zwoz2x3m
- valory/ledger:0.19.0:bafybeibiayfscw4badpr545f47hsvc2r5lgfpgzib5q4h4u6kkosdsytby
- valory/p2p_libp2p_client:0.1.0:bafybeic6ayusdwy4dks75njwk32ac7ur7salgllwf4fdc34ue5z2k5iz4q
- valory/websocket_client:0.1.0:bafybeic4ag3gqc7kd3k2o3pucddj2odck5yrfbgmwh5veqny7zao5qayli
contracts:
- valory/agent_mech:0.1.0:bafybeibjlxgwwqodubwy3mhstnjqjsyat4ray32xgkkv5adysjwz5mzcau
- valory/agent_registry:0.1.0:bafybeiarzhzs2wm2sl47qg37tqoc3qok54enxlcj6vx3hldozg537uslnq
- valory/gnosis_safe:0.1.0:bafybeidw3uxuxyp3lso5mh43nhauzvra4jabnuk34bkqd6mrv4ojz37nui
- valory/gnosis_safe_proxy_factory:0.1.0:bafybeihx4j2k4gwst4qswkgqlcsr3zmplroc7zjwuqo3ttngjq3fwyumpu
- valory/hash_checkpoint:0.1.0:bafybeihyzjja65zrhjdgm5p4oecjm7ijrs6aur2ux2fkmfgfiurautm2da
- valory/multisend:0.1.0:bafybeig5byt5urg2d2bsecufxe5ql7f4mezg3mekfleeh32nmuusx66p4y
- valory/service_registry:0.1.0:bafybeibuq4p66jdpnrq7viz4zylydu3zneteukfy3gwdgp273vptnq3dvi
- valory/mech_marketplace:0.1.0:bafybeicx4aw7kbp4zxbdsafshkagzb53ji5m2ak537on2ryrzpnoxs2jkq
- valory/balance_tracker:0.1.0:bafybeiceepsgckl7x5ljvkv4ztg7ubc3re6d4xzan6msywuifao3nxyyq4
protocols:
- open_aea/signing:1.0.0:bafybeig2d36zxy65vd7fwhs7scotuktydcarm74aprmrb5nioiymr3yixm
- valory/abci:0.1.0:bafybeiatodhboj6a3p35x4f4b342lzk6ckxpud23awnqbxwjeon3k5y36u
- valory/acn:1.1.0:bafybeic6h55ov5lrzbah6fate54c4u6spopcexxspw3abotbmffabfddeu
- valory/acn_data_share:0.1.0:bafybeih5ydonnvrwvy2ygfqgfabkr47s4yw3uqxztmwyfprulwfsoe7ipq
- valory/contract_api:1.0.0:bafybeid247uig2ekykdumh7ewhp2cdq7rchaeqjj6e7urx35zfpdl5zrn4
- valory/default:1.0.0:bafybeifqcqy5hfbnd7fjv4mqdjrtujh2vx3p2xhe33y67zoxa6ph7wdpaq
- valory/http:1.0.0:bafybeih4azmfwtamdbkhztkm4xitep3gx6tfdnoz6tvllmaqnhu3klejfa
- valory/ipfs:0.1.0:bafybeifi2nri7sprmkez4rqzwb4lnu6peoy3bax5k6asf6k5ms7kmjpmkq
- valory/ledger_api:1.0.0:bafybeihmqzcbj6t7vxz2aehd5726ofnzsfjs5cwlf42ro4tn6i34cbfrc4
- valory/tendermint:0.1.0:bafybeigydrbfrlmr4f7shbtqx44kvmbg22im27mxdap2e3m5tkti6t445y
- valory/websocket_client:0.1.0:bafybeifjk254sy65rna2k32kynzenutujwqndap2r222afvr3zezi27mx4
skills:
- valory/abstract_abci:0.1.0:bafybeifv2dynqo3o57nr6jntsvdkduytz3f6i52csv2bjwrr4qhi4mkm7i
- valory/abstract_round_abci:0.1.0:bafybeiba3zhx5drsf7ailfboeuvwykocmkffs2j426u4q7d4erig67lyhm
- valory/contract_subscription:0.1.0:bafybeiefuemlp75obgpxrp6iuleb3hn6vcviwh5oetk5djbuprf4xsmgjy
- valory/mech_abci:0.1.0:bafybeie2xstvcujzo7frn227a5thsbxv22prngc2nbzxbwms2hwkrhk5ty
- valory/registration_abci:0.1.0:bafybeigp2g6uhhgjlkqyhjlk4abfjuecmulnwlki6acbpfu45thslqujlu
- valory/reset_pause_abci:0.1.0:bafybeidhqvc4cl6alvkql5kadiv7snudl7o2ctfqbmhrihtejm3zhkmbby
- valory/delivery_rate_abci:0.1.0:bafybeiakedzpbl2v4ajpovpzrgpigwbzfqlwjyuucvexs2kckhlh7x3mce
- valory/task_execution:0.1.0:bafybeigbueebww7nbja5jo3x7o3524e26hhfnmvxrprpbmnvjffcxm7k54
- valory/task_submission_abci:0.1.0:bafybeib2v5zeeu4cwnxt37avxysdxgqh4gmotcvz6wthepqnvupafbpy7e
- valory/termination_abci:0.1.0:bafybeig4stz7s6phndruvrgqptbc62ue2filttj4wbnempkur5ybso5edu
- valory/transaction_settlement_abci:0.1.0:bafybeicvfbyp4lfqcohmvw6ozlvsbp2eugl2wxqxsdpp36ro7bk3waxjky
- valory/websocket_client:0.1.0:bafybeif7rrvsu6z4evqkhblxj3u6wwv2eqou576hgkyoehxuj7cntw7o2m
customs:
- valory/native_transfer_request:0.1.0:bafybeifi2ojtjohfwy3qlvdsms5y7qa7iqbow7wq7gcjptgz2gbymve3vu
- valory/openai_request:0.1.0:bafybeigz5brshryms5awq5zscxsxibjymdofm55dw5o6ud7gtwmodm3vmq
- valory/prediction_request_embedding:0.1.0:bafybeihtwykqnoxluqo2n4w2ccoh4xqoc6pifevol6obho3fneg7touzj4
- valory/resolve_market:0.1.0:bafybeidog2vsqmezxe63jqjpf7p6qmqy3opq3rppvihqtehf6k44hzyo74
- valory/prediction_request:0.1.0:bafybeiam4g5jttcdm24cac7n5qkhxknsmy5i5o57buxmdjgcld5c5ypjcq
- polywrap/prediction_with_research_report:0.1.0:bafybeifgpfct4q6anwsl3br7mnhj6bkzl7wj5k6ldum3dq7xkzpmheai2i
- jhehemann/prediction_sum_url_content:0.1.0:bafybeign4roqx55xvyyvz6iyi5wnvb2kep2c7gfqc6gmipg4kdsedwr7gi
- psouranis/optimization_by_prompting:0.1.0:bafybeibcy2jwtceobruvzoepajuuwttw3fhn36mojmnd6jotifwr3p5o3i
- nickcom007/sme_generation_request:0.1.0:bafybeicjcszg5hig6pr46vwsn2wsod6xl4jo3nj2ftxdkbotoe2h43t7bi
- nickcom007/prediction_request_sme:0.1.0:bafybeif24uhwzxur2fdutrwgrhvzeo6m5rnwn6s5sfexdykyxqakle5huq
- napthaai/resolve_market_reasoning:0.1.0:bafybeibyvxgspwaieatpi2hp63jo6cxcwleff4jorkiigjwjznl4vtd33a
- napthaai/prediction_request_rag:0.1.0:bafybeic3be3tghz42s4b2w7q426mztja3lpuwtartygogtkuoskixkcbbu
- napthaai/prediction_request_reasoning:0.1.0:bafybeicebiapqwcr6pniqnc35mrd4qvth4v6jbj2su7tj75wpgjuzrn66e
- valory/prepare_tx:0.1.0:bafybeiggkqqyrj4n6qmtwgmx4r4qtrb2k6f67v42qyfgrgoow677vywgw4
- napthaai/prediction_url_cot:0.1.0:bafybeihy2ad764picvozsap7viycxervokesnbww3qe4oy3ggrieqnuhyu
- napthaai/prediction_request_rag_cohere:0.1.0:bafybeid56svuhz3w47lq4kpsl72gsc2h2y7fxmndjrieo2rwq2vac6n6hy
- valory/prediction_request_lite:0.1.0:bafybeichfv4vqu4ebz7aqz6pmrhlgkwcl35gft2zpyusvgaaevydv3s244
- nickcom007/prediction_request_sme_lite:0.1.0:bafybeihcc4mjzxtz24mbaovae7isl6chmw6lfsk3q4x47nosql5kxkudea
- napthaai/prediction_request_reasoning_lite:0.1.0:bafybeif7xi3bupx72oqcrmmrmxs3mzkditimn7ovwqu46jhcbvpsuh2tju
- valory/prediction_langchain:0.1.0:bafybeidv6kgf6f7g5vfl36jhbc5v36qza5tm2jj27cm3iltdhjkc5qgm4m
- victorpolisetty/gemini_request:0.1.0:bafybeigukufdstoauoze3g7oz5mf4j4zqsdr756un5pdujocrp6eo5efgy
- gnosis/omen_tools:0.1.0:bafybeibyta2o2bs5f76kp67hp4b4esapz45envjxqtq2dxj2mitpvmfcja
- victorpolisetty/dalle_request:0.1.0:bafybeieqqtd6gtlry7vheix54nj3ok4cag3uy47yoxlufhi6y3u5i6doti
- jhehemann/prediction_sentence_embeddings:0.1.0:bafybeiem7mvu7xbe3fnky5nve44cohlqxhbxegau44y34exd57whf7mlga
- gnosis/ofv_market_resolver:0.1.0:bafybeiemccplw5cf3jymg3f4d4vejhk2gqy5czbnlkmxe2yvo3lprfexsq
- valory/superforcaster:0.1.0:bafybeibub6ulgkyyefw5zaab2tawyvjxbhcdddx7emfqrhlzkifb4dxox4
- valory/tee_openai_request:0.1.0:bafybeictmezaorzxelsy4dztbxh5n2343zio3rk6vo7wc5lptxlobhdnku
- dvilela/corcel_request:0.1.0:bafybeicjrix2wg23cm2j437isokkzd26uloqezlx3cg2pu7rf7mfwg3p6e
- dvilela/gemini_prediction:0.1.0:bafybeigvwflupxzbjgmaxcxml5vkez3obl4fjo6bxzhquq56urnviq32u4
default_ledger: ethereum
required_ledgers:
- ethereum
- cosmos
default_routing: {}
connection_private_key_paths: {}
private_key_paths: {}
logging_config:
  version: 1
  disable_existing_loggers: false
  formatters:
    standard:
      format: '[%(asctime)s] [%(levelname)s] [%(name)s] %(message)s'
  handlers:
    logfile:
      class: logging.FileHandler
      formatter: standard
      filename: ${LOG_FILE:str:log.txt}
      level: ${LOG_LEVEL:str:INFO}
    console:
      class: logging.StreamHandler
      formatter: standard
      stream: ext://sys.stdout
  loggers:
    aea:
      handlers:
      - logfile
      - console
      propagate: true
dependencies:
  aiohttp:
    version: <4.0.0,>=3.8.5
  anthropic:
    version: ==0.23.1
  beautifulsoup4:
    version: ==4.12.2
  chromadb:
    version: ==0.4.13
  docstring-parser:
    version: ==0.15
  faiss-cpu:
    version: ==1.7.4
  fastapi:
    version: ==0.110.3
  google-api-python-client:
    version: ==2.95.0
  googlesearch-python:
    version: ==1.2.3
  hypothesis:
    version: ==6.21.6
  langchain:
    version: ==0.2.1
  langchain-community:
    version: ==0.2.1
  langchain-core:
    version: ==0.2.1
  langchain-openai:
    version: ==0.1.7
  langgraph:
    version: ==0.0.55
  lxml:
    version: ==5.1.0
  markdownify:
    version: ==0.11.6
  moviepy:
    version: ==1.0.3
  open-aea-ledger-ethereum:
    version: ==1.63.0
  pandas:
    version: ==2.2.2
  pypdf2:
    version: ==3.0.1
  python-dateutil:
    version: ==2.8.2
  readability-lxml:
    version: ==0.8.1
  replicate:
    version: ==0.15.7
  scikit-learn:
    version: ==1.3.1
  spacy:
    version: ==3.7.2
  tavily-python:
    version: ==0.3.3
  tiktoken:
    version: ==0.7.0
  typer:
    version: ==0.9.4
  prediction-market-agent-tooling:
    version: '>=0.39.0,<0.40.0'
  google-generativeai:
    version: ==0.6.0
  openfactverification-kongzii:
    version: ==0.1.0
  httpx:
    version: ==0.25.2
  tqdm:
    version: ==4.67.1
  typing_extensions:
    version: ==4.12.2
default_connection: null
---
public_id: valory/websocket_client:0.1.0:bafybeiexove4oqyhoae5xmk2hilskthosov5imdp65olpgj3cfrepbouyy
type: connection
config:
  endpoint: ${str:wss://rpc.gnosischain.com/wss}
  target_skill_id: valory/contract_subscription:0.1.0
is_abstract: true
---
public_id: valory/contract_subscription:0.1.0:bafybeiby5ajjc7a3m2uq73d2pprx6enqt4ghfcq2gkmrtsr75e4d4napi4
type: skill
behaviours:
  contract_subscriptions:
    args: {}
handlers:
  new_event:
    args:
      contract_to_monitor: ${str:0x5AE9c87F8789842DED5cab0F33923DeB2260Dd75}
      websocket_provider: ${str:https://rpc.gnosischain.com}
models:
  params:
    args:
      use_polling: ${bool:false}
is_abstract: true
---
public_id: valory/abci:0.1.0
type: connection
config:
  target_skill_id: valory/mech_abci:0.1.0
  host: ${str:localhost}
  port: ${int:26658}
  use_tendermint: ${bool:false}
---
public_id: valory/p2p_libp2p_client:0.1.0
type: connection
config:
  nodes:
  - uri: ${str:acn.staging.autonolas.tech:9005}
    public_key: ${str:02d3a830c9d6ea1ae91936951430dee11f4662f33118b02190693be835359a9d77}
cert_requests:
- identifier: acn
  ledger_id: ethereum
  message_format: '{public_key}'
  not_after: '2024-01-01'
  not_before: '2023-01-01'
  public_key: ${str:02d3a830c9d6ea1ae91936951430dee11f4662f33118b02190693be835359a9d77}
  save_path: .certs/acn_cosmos_9005.txt
is_abstract: false
---
public_id: valory/mech_abci:0.1.0
type: skill
models:
  benchmark_tool:
    args:
      log_dir: ${str:/logs}
  params:
    args:
      sleep_time: ${int:1}
      ipfs_fetch_timeout: ${float:15.0}
      tendermint_check_sleep_delay: ${int:3}
      tendermint_p2p_url: ${str:localhost:26656}
      tendermint_com_url: ${str:http://localhost:8080}
      tendermint_max_retries: ${int:5}
      tendermint_url: ${str:http://localhost:26657}
      use_termination: ${bool:false}
      round_timeout_seconds: ${float:30.0}
      reset_period_count: ${int:1000}
      on_chain_service_id: ${int:1}
      mech_staking_instance_address: ${str:0x0000000000000000000000000000000000000000}
      mech_marketplace_address: ${str:0x0000000000000000000000000000000000000000}
      agent_registry_address: ${str:0xE49CB081e8d96920C38aA7AB90cb0294ab4Bc8EA}
      agent_id: ${int:3}
      metadata_hash: ${str:0000000000000000000000000000000000000000000000000000000000000000}
      share_tm_config_on_startup: ${bool:false}
      multisend_address: ${str:0xA238CBeb142c10Ef7Ad8442C6D1f9E89e07e7761}
      service_registry_address: ${str:0x9338b5153AE39BB89f50468E608eD9d764B755fD}
      service_endpoint_base: ${str:https://dummy_service.autonolas.tech/}
      gas_params: ${dict:{"gas_price":null, "max_fee_per_gas":null, "max_priority_fee_per_gas":null}}
      init_fallback_gas: ${int:500000}
      manual_gas_limit: ${int:1000000}
      service_owner_share: ${float:0.1}
      profit_split_freq: ${int:1}
      agent_funding_amount: ${int:200000000000000000}
      minimum_agent_balance: ${int:100000000000000000}
      termination_from_block: ${int:0}
      mech_to_max_delivery_rate: ${dict:{}}
      mech_to_config: ${dict:{}}
      hash_checkpoint_address: ${str:0x694e62BDF7Ff510A4EE66662cf4866A961a31653}
      setup:
        all_participants: ${list:["0x7a1De622c62c6e985fEDd4919FfA8e9997B9547f"]}
        safe_contract_address: ${str:0x9e9d95A2a3dF7CF20a8ac1422a6D1A2DB3B15565}
        consensus_threshold: ${int:null}
      default_chain_id: ${str:gnosis}
---
public_id: valory/task_execution:0.1.0
type: skill
models:
  params:
    args:
      task_deadline: ${float:240.0}
      tools_to_package_hash: ${dict:{}}
      api_keys: ${dict:{}}
      polling_interval: ${float:10}
      agent_index: ${int:0}
      num_agents: ${int:4}
      from_block_range: ${int:50000}
      mech_marketplace_address: ${str:0x0000000000000000000000000000000000000000}
      mech_to_config: ${dict:{}}
      timeout_limit: ${int:3}
      max_block_window: ${int:500}
      default_chain_id: ${str:gnosis}
---
public_id: valory/ledger:0.19.0
type: connection
config:
  ledger_apis:
    base:
      address: ${str:http://localhost:8545}
      chain_id: ${int:8453}
      poa_chain: ${bool:false}
      default_gas_price_strategy: ${str:eip1559}
    gnosis:
      address: ${str:http://localhost:8545}
      chain_id: ${int:100}
      poa_chain: ${bool:false}
      default_gas_price_strategy: ${str:eip1559}
---
public_id: valory/http_server:0.22.0:bafybeicblltx7ha3ulthg7bzfccuqqyjmihhrvfeztlgrlcoxhr7kf6nbq
type: connection
config:
  host: ${str:0.0.0.0}
  target_skill_id: valory/mech_abci:0.1.0
is_abstract: false
